

.navbar_container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.set_links_div{
    width: 20%;
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
    margin-right: 3%;
}
.set_link{
    font-size: 20px;
}
.set_link:hover{
    color: #00d886;
}